html, body {
    margin: 0;
    height: 100%;
}

.CreateSection {
    display: flex;
    background-color: white;
    width: 50%;
    align-items: center;
    margin-left: auto;
    flex-grow: 1;
}

.CreateHeader{
        background-color: rgb(20, 20, 21);            
        width: 100%;           
        height: 65px;   
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: rgb(147, 147, 147) solid 0.6px;
      
}
.TitleInput{
    padding: 1px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 150px;   
    outline-style: none
}

.TitleText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    display: flex;
    gap: 10px;
}

.TitleText h1{
    margin-left: 10px;
    font-size: 30px;
}

.SaveButton{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(36, 127, 247);
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100px;
    font-size: 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.SaveButton:hover{
    background-color: rgb(0, 73, 168);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.SaveButton:active{
    background-color: rgb(36, 127, 247);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.QuestionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.QuestionTitle{
    padding: 5px;
    font-size: 25px;
    text-align: center;
    outline-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 700px;
    max-width: 70%;
    margin: 20px;
    border-radius: 20px;
    border: none;
}



    .Answers {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        max-width: 1000px; 
        margin: 20px auto;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .Answer1, .Answer2, .Answer3, .Answer4 {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        padding: 20px;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        color: rgb(255, 255, 255);
        width: 100%;
        min-width: 400px; 
        height: 120px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
.AnswerInput::placeholder
    .Answer h2 {
        margin: 0;
        font-size: 20px;
    }
    
    .Checkbox {
        font-size: 40px;
        transition: font-size 0.3s ease;
        cursor: pointer;
    }
    
    .Checkbox:hover {
        font-size: 45px; 
    }
     
.Answer1{
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    background-color: rgb(227, 56, 56);
}
.Answer1:hover{
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    background-color: rgb(168, 43, 43);
}
.Answer2{
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    background-color: rgb(56, 119, 227);
}
.Answer2:hover{
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    background-color: rgb(40, 85, 162);
}
.Answer3{
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    background-color: rgb(50, 173, 75);
}
.Answer3:hover{
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    background-color: rgb(40, 134, 59);
}
.Answer4{
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    background-color: rgb(227, 170, 56);
}
.Answer4:hover{
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    background-color: rgb(194, 146, 49);
}

.QuestionList{
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    height: 140px;
    width: 100%;
    background-color: rgb(20, 20, 21);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 120px;
    border-top: rgb(147, 147, 147) solid 0.6px; ;
}

@media screen and (max-width: 850px) {

    .Answers {
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;}
    }

    .AnswerInput {
        background-color: transparent;
        color: white;
        font-size: 18px;
        padding: 3px;
        outline-style: none;
    }

.AnswerInput::placeholder{
    color: white;
}

.addQuestion{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(36, 127, 247);
    padding: 5px;
    border-radius: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 12px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.addQuestion:hover{
    background-color: rgb(0, 73, 168);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.addQuestion:active{
    background-color: rgb(36, 127, 247);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}


.QuestionList {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    width: 100%;
    background-color: rgb(20, 20, 21);
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-top: rgb(147, 147, 147) solid 0.6px;
}

.addQuestionContainer {
    display: flex;
    justify-content: center;    
    gap: 10px;                 
    margin-bottom: 15px;      
    width: 100%;                
}


.addQuestion, .DeleteButton {
    color: white;
    background-color: rgb(36, 127, 247);
    padding: 10px 15px;      
    border-radius: 5px;
    height: 40px;
    min-width: 150px;       
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;      
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.DeleteButton {
    color: white;
    background-color: rgb(220, 49, 49);
    padding: 10px 11px;        
    border-radius: 5px;
    height: 42px;
    min-width: 120px;         
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;       
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.DeleteButton:hover{
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    background-color: rgb(159, 37, 37);
}
.Questions {
    display: flex;
    flex-wrap: wrap;        
    justify-content: center; 
    gap: 10px;               
    width: 100%;
}

.QuestionItem {
    color: black;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.QuestionItem:hover {
    background-color: rgb(208, 207, 207);
}

@media screen and (max-width: 600px) {
    .Answer1, .Answer2, .Answer3, .Answer4 {
        min-width: 340px;
        font-size: 12px;
    }
    .AnswerInput{
        width: 240px;
    }
    .TitleText h1{
        font-size: 23px;  

    }
    .TitleInput{
        font-size: 21px;
        width: 100px;
    }
    .addQuestion{
        width: auto
    }


}