
.Quiz {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: white;
    margin: 20px auto;
    max-width: 700px;
    width: 90%;
    height: 65px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }


  .TextSection {
    flex: 1; 
    display: flex;
    flex-direction: column;

    ;
  }
  
  .QuizTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  

  .ButtonSection {
    display: flex; 
    gap: 12px;
  }
  
  .PlayButton,
  .EditButton,
  .TrashButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px; 
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1.9rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  
  .PlayButton {
    background-color: #43b64d;;
    color: white;
    width: 70px;
    height: 50px;
    font-size: 1.7rem;
  }
  
  .PlayButton:hover {
    background-color: #37973f;
  }
  
  .EditButton {
    background-color: #f0f0f0;
    color: black;
  }
  
  .EditButton:hover {
    background-color: #e0e0e0;
  }
  
  .TrashButton {
    background-color: #ffe6e6;
    color: red;
    font-size: 30px;
  }
  
  .TrashButton:hover {
    background-color: #ffcccc;
  }
  
  .emptyPage{
    font-size: 26px;
    color: rgb(146, 146, 146);
    text-align: center;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .CreateLink{
    color: #007bff;
  }

  @media (max-width: 768px) {
    .QuizTitle{
        font-size: 18px;
    }
    .EditButton,
    .TrashButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px; 
      height: 40px; 
      text-align: center;
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      cursor: pointer;
      font-weight: bold;
      transition: 0.3s ease;
      text-decoration: none;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .PlayButton{
        width: 60px;
        height: 40px;
        font-size: 1.5rem;
    }
    .ButtonSection {
        gap: 8px;
      }
  }
