* {
  margin: 0;      
  padding: 0;      
  box-sizing: border-box;  
}

html{
  background-color: rgb(26, 27, 30) ;
}

.Header {
  background-color: rgb(20, 20, 21);            
  width: 100%;           
  height: 65px;   
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: rgb(147, 147, 147) solid 0.6px;
}

.QuizListTitle{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
}

.Title_Logo{
  display: inline-flex;
  gap: 8px;
}

.Title{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 255, 255);
  margin-left: 15px;
  font-size: 35px;
}

.Logo{
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.HeaderLinks {
  background-color: rgb(32, 39, 56);            
  width: 100%;           
  height: 85px;  
  display: flex;
  align-items: center;  
  justify-content: flex-end;  
}

.HeaderLinksItems {
  display: flex;
  align-items: center;  
  height: 100%;  
  padding-right: 14px;  
  color: white;
}

.HeaderLinksItems h1 {
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;  
}

.HeaderLinksItems svg {
  font-size: 25px;
}

.Link {
  display: inline-flex;
  align-items: center;  
  gap: 5px;
  padding: 13.5px;  
  text-decoration: none;  
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Link:hover {
  background-color: white;
  color: black;

}

.Link:active {
  background-color: rgb(20, 20, 21);
  color: rgb(255, 255, 255);
}
.Footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;        
    height: auto;       
    object-fit: cover;  
    max-width: 100vw;
  }

.MobileBars{
  color: white;
  border: solid 2px rgb(147, 147, 147);
  font-size: 50px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.Links {
  background-color: rgb(20, 20, 21);  
  border: 2px solid rgb(147, 147, 147); 
  border-radius: 10px;        
  padding: 10px;             
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 170px; 
  height: 180px;              
  margin: 20px auto;          
  text-align: center;       
  position: absolute;
  right: 10px;
  top: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.Links h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 20px;
  margin: 10px 0; 
}

.MobileLink {
  display: flex;
  align-items: center;
  gap: 10px; 
  padding: 7px;  
  text-decoration: none; 
  border-radius: 5px; 
  justify-content: flex-start;
  text-align: left;  
  width: 100%; 
  box-sizing: border-box; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.MobileLink:hover {
  background-color: white;
  color: black;
}

.MobileLink:active {
  background-color: rgb(20, 20, 21);
  color: white;
}

.linkDecoration {
  text-decoration: none;
  color: white;
}

.ErrorLogo{
  color: rgb(239, 66, 66);
  font-size: 250px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  text-align: center;
  align-items: center;
}

.ErrorText1{
  font-size: 15px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ErrorText2{
  font-size: 12px;
  color: rgb(176, 176, 176);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SearchBar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchBar input{
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 50px;
  font-size: 20px;
  text-align: center;
  outline-style: none;
  border-radius: 8px;
  background-color: rgb(20, 20, 21);
  border: solid 2px rgb(147, 147, 147);
  color: white;
}

.SearchBar input::placeholder{
  color: rgb(255, 255, 255);
}

.styleBackground{
  background-color: rgb(20, 20, 21);
}

.deleteTitle{
  background-color: rgb(228, 69, 69);
}

.styleTitle{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 600px) {
  .ErrorLogo{
    font-size: 200px;
    margin-top: 130px;
  }
  
  .ErrorText1{
    font-size: 14px;
   
  }
  
  .ErrorText2{
    font-size: 10px;
  
  }
  


}

